* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceCodePro';
  src: url("../fonts/SourceCodePro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  min-height: 100%;
  font-size: 24px;
  line-height: 1.6;
  overflow: hidden;
}

body .reviews-block p {
  font-family: 'Montserrat', sans-serif;
}

main {
  max-width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: calc(100vh - 30px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10vh;
  margin: 1em 2em;
}

main > * {
  margin: 0 1em;
}

p {
  font-family: SourceCodePro,monospace;
  font-size: 1.8em;
  min-width: 700px;
}

.mindfulness {
  display: block;
  margin-top: 3em;
  font-size: .5em;
}

.form {
  margin-top: 0.5em;
  text-align: left;
}

.modal__trigger {
  background: #bdccd4;
  color: #fff;
  font-size: 1.2em;
  padding: 0.3em 1em;
  border-radius: 0.25em;
  position: relative;
}

.modal__trigger:hover {
  background: #a8b3b9;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.one-hour {
  left: -3em;
  color: #000;
  border-bottom: 2px solid;
  pointer-events: none;
  margin-right: 0.3em;
  font-size: 1.2em;
}

button,
.start-relax {
  background: #bdccd4;
  color: #fff;
  font-size: 1.2em;
  padding: 0.3em 1em;
  border-radius: 0.25em;
  position: relative;
}

button:hover,
.start-relax:hover {
  background: #a8b3b9;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.one-line-fields {
  margin-bottom: 1.5em;
}

.reviews {
  position: absolute;
  top: calc(100% - 1.5em);
  font-size: 0.5em;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}

.reviews.active {
  top: unset;
  bottom: 0;
}

.reviews a {
  color: #fff;
  background: #7ac943;
  padding: 0.2em 0.6em;
  border-radius: 0.5em 0.5em 0 0;
  line-height: 1;
}

.reviews a:hover {
  background: #a8b3b9;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.reviews-block {
  padding: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #a8b3b9;
  color: #fff;
  text-transform: none;
  text-align: left;
}

.reviews-block > div {
  width: 25%;
}

.time-left {
  font-size: 6em;
}

.relax-msg {
  font-size: .75em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 6em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  max-width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.relax-msg > :first-child {
  width: 65%;
}

.relax-msg > :last-child {
  width: 28%;
}

.relax-msg p {
  margin-bottom: 32px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  display: block;
}

.relax-msg p:last-child {
  margin-bottom: 0;
}

.second {
  background: #333333;
  color: #656565;
}

.modal {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.modal--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal--align-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.modal__dialog {
  max-width: 600px;
  padding: 1.2rem;
}

.modal__dialog header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1em;
}

.modal__dialog p {
  margin-bottom: 1.5em;
}

.modal__content {
  will-change: transform, opacity;
  position: relative;
  padding: 2.4rem;
  background: #fff;
  background-clip: padding-box;
  -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
  opacity: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
}

.modal__content img {
  display: block;
  margin: 0 auto;
  max-height: 50vh;
}

.modal__content form > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__content form input {
  border: 2px solid #a8b3b9;
  padding: 0.3em 0.6em;
  font-size: 0.8em;
  width: 100%;
}

.modal__content .row {
  margin-top: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.modal__content .row > * {
  margin: 0 0.5em;
}

.modal__content .row > *:first-child {
  margin-left: 0;
}

.modal__content .row > *:last-child {
  margin-right: 0;
}

.modal__content button {
  margin-top: 1em;
}

.modal__content--active {
  opacity: 1;
}

.modal__close {
  z-index: 1100;
  cursor: pointer;
  display: block;
}

.modal__close svg {
  width: 1em;
  height: auto;
}

.modal__close svg path {
  fill: #000;
}

#modal__temp {
  display: none;
}

.copyr {
  position: absolute;
  right: 0;
  bottom: 6vh;
  font-size: .3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 200px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  opacity: 0;
}

.copyr picture > * {
  height: 60px;
  width: auto;
  display: inline-block;
  position: relative;
  bottom: -8px;
}

.copyr a {
  color: inherit;
}

.copyr a:hover {
  text-decoration: underline;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}

.copyr p {
  width: 60%;
}

.copyr:hover {
  opacity: 1;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}

.second .copyr a:hover {
  color: #fff;
}

.second .copyr picture > * {
  -webkit-filter: brightness(1.5);
          filter: brightness(1.5);
}

@media (max-width: 760px) {
  .reviews {
    font-size: 0.75em;
  }
}