body {
  position: relative;
  font-family: "Montserrat", sans-serif;
  min-height: 100%;
  font-size: 24px;
  line-height: 1.6;
  overflow: hidden;
  max-width: 100vw;
  max-height: 100%;
  .reviews-block p {
    font-family: "Montserrat", sans-serif;
    display: inline;
  }
}
main {
  max-width: 1280px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  min-height: calc(100vh - 30px);
  justify-content: center;
  align-items: center;
  margin: 1em auto;
  padding: 0 2em;
  padding-bottom: 10vh;

  &.rew-open {
    // justify-content: flex-start;
    opacity: 0.6;
  }

  p {
    margin-bottom: 1em;
    letter-spacing: 0.1em;
  }
}
p {
  font-family: "SourceCodePro", monospace;
  font-size: 1.8em;
  min-width: 700px;
}
.mindfulness {
  // display: block;
  margin-top: 3em;
  margin-bottom: 2em;
  font-size: 0.9em;
}
.form {
  margin-top: 0.5em;
  text-align: left;
}

.message {
  margin-top: -60px;
  min-height: 400px;
}

.modal__trigger {
  position: relative;
  padding: 0.3em 1em;
  box-sizing: border-box;

  $border: 4px;
  color: #000;
  background: #fff;
  background-clip: padding-box;
  border: solid $border transparent;
  border-radius: 10px;

  transition: $default-transition-settings;

  @include viewport--md {
    border: solid 2px transparent;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -$border;
    border-radius: inherit;
    background: linear-gradient(to right, #dbd5a4, #649173);

    @include viewport--md {
      margin: -2px;
    }
  }

  &:hover {
    background: none;
    color: #fff;
  }
}

.one-hour {
  left: -3em;
  color: $black;
  border-bottom: 2px solid;
  pointer-events: none;
  margin-right: 0.3em;
  font-size: 1.2em;
}

button,
.start-relax {
  background: $acсent;
  color: $white;
  font-size: 1.2em;
  padding: 0.3em 1em;
  border-radius: 0.25em;
  position: relative;

  &:hover {
    background: $acсent2;
    transition: all 0.2s;
  }
}
.one-line-fields {
  margin-bottom: 1.5em;
}

.reviews-block {
  padding: 3em;
  padding: 15px 0;
  display: flex;
  justify-content: center;

  background: #649173;
  background: -webkit-linear-gradient(to right, #dbd5a4, #649173);
  background: linear-gradient(to right, #dbd5a4, #649173);

  color: $white;
  text-transform: none;
  text-align: left;
  box-shadow: 0px -3px 10px #0000005e;
}

.time-left {
  font-size: 6em;
}

.relax-msg {
  font-size: 0.75em;
  display: flex;
  justify-content: flex-start;
  flex-flow: row;
  max-width: 100%;
  align-items: center;
  > :first-child {
    margin-right: 3em;
  }
  > :last-child {
    text-align: left;
  }
  .finish {
    line-height: 1;
  }
  p {
    overflow-wrap: break-word;
  }
}
p {
  margin-bottom: 32px;
  flex: 1;
  position: relative;
  display: block;
  &:last-child {
    margin-bottom: 0;
  }
}

form {
  opacity: 0;
  margin-top: 2em;
  transition: $default-transition-settings;
}

.visible {
  opacity: 1;
}

.second {
  background: rgb(51, 51, 51);
  color: $gray;
}

.modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
  max-width: 100vw;
  max-height: 100vh;
}
.modal--active {
  display: flex;
}
.modal--align-top {
  align-items: flex-start;
}
.modal__dialog {
  max-width: 600px;
  padding: 1.2rem;
  header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 1em;
  }
  p {
    margin-bottom: 1.5em;
  }
}
.modal__content {
  will-change: transform, opacity;
  position: relative;
  padding: 2.4rem;
  background: $white;
  background-clip: padding-box;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
  img {
    display: block;
    margin: 0 auto;
    max-height: 50vh;
  }
  form > div {
    display: flex;
    flex-direction: column;
  }
  form input {
    border: 2px solid $acсent2;
    padding: 0.3em 0.6em;
    font-size: 0.8em;
    width: 100%;
  }
  .row {
    margin-top: 0.5em;
    display: flex;
    flex-direction: row;
    > * {
      margin: 0 0.5em;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  button {
    margin-top: 1em;
  }
}
.modal__content--active {
  opacity: 1;
}
.modal__close {
  z-index: 1100;
  cursor: pointer;
  display: block;
}
.modal__close svg {
  width: 1em;
  height: auto;
  path {
    fill: $black;
  }
}
#modal__temp {
  display: none;
}

.copyr {
  position: absolute;
  right: 0;
  bottom: 6vh;
  font-size: 0.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  width: 200px;
  align-items: baseline;
  opacity: 0;
  transition: $default-transition-settings;
  picture > * {
    height: 60px;
    width: auto;
    display: inline-block;
    position: relative;
    bottom: -8px;
  }
  a {
    color: inherit;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
      transition: color 0.2s;
    }
  }
  p {
    width: 60%;
  }
  &:hover {
    opacity: 1;
    transition: color 0.2s;
  }
}
.second .copyr {
  a {
    &:hover {
      color: $white;
    }
  }
  picture > * {
    filter: brightness(1.5);
  }
}

@media (max-width: 1200px) {
  p {
    min-width: unset;
    // font-size: 1.2em;
    max-width: 100%;
    word-wrap: break-word;
  }
  .mindfulness {
    margin-top: 2em;
    // font-size: 0.75em;
  }
  h1 {
    // font-size: 1.6em;
  }
  .modal__content .row {
    align-items: flex-end;
  }
  .relax-msg {
    flex-flow: column;
  }
}

@media (max-width: 760px) {
  body {
    font-size: 16px;
  }
  main {
    max-width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    margin: 0;
    padding: 1em;
    padding-bottom: 1em;
  }
  .reviews {
    // font-size: 0.75em;
    bottom: -20px;
  }
  .reviews-block {
    padding: 1em;
    padding-top: 20px;
    padding: 15px 5px;
    flex-direction: column;
    > div {
      width: 100%;
      margin: 0;
      // margin-bottom: 5em;
    }
  }
  .copyr {
    text-align: right;
    width: 120px;
  }
}

#typed {
  display: inline;
}

// .swiper-slide {
//   text-align: center;
//   background: #fff;

//   /* Center slide text vertically */
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: -webkit-flex;
//   display: flex;
//   -webkit-box-pack: center;
//   -ms-flex-pack: center;
//   -webkit-justify-content: center;
//   justify-content: center;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   -webkit-align-items: center;
//   align-items: center;
// }
