@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "";

  font-display: swap;
  src: url("../fonts/.woff2") format("woff2"),
    url("../fonts/.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-v15-latin_cyrillic-ext_cyrillic-regular.woff2")
      format("woff2"),
    url("../fonts/montserrat-v15-latin_cyrillic-ext_cyrillic-regular.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SourceCodePro";
  src: url("../fonts/source-sans-pro-v14-latin_cyrillic-ext_cyrillic-regular.woff2")
      format("woff2"),
    url("../fonts/source-sans-pro-v14-latin_cyrillic-ext_cyrillic-regular.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
